[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
keras = "*"
tensorflow = "*"
scikit-learn = "*"
pandas = "*"
SQLAlchemy = "*"
psycopg2-binary = "*"
boto3 = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.7"
